.introducao-bg {
  background: var(--c13);
}

.introducao {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
}

.introducao-texto {
  margin-bottom: 40px;
}

@media (max-width: 600px) {
  .introducao-texto {
    margin-bottom: 20px;
  }
  .introducao a {
    width: 40px;
    height: 40px;
  }
}
